@use "colors" as c;
@use "fonts";


@mixin sect-one {
    position: relative;
    div{
        position: absolute;
        top: 10em;
        left: 15em;
        font-family: 'Ubunta', sans-serif;
        z-index: 1;
        h2{
            font-size: 4vw;
            color: c.$P-black;
        }
        p{
            font-size: 2vw;
            color: c.$P-black;
        }
        button{
            background-color: #0e8420;
            border: 0px;
            font-size: 1em;
            border-radius: 3px;
            padding: 0.5em 1em;
            margin: 2em 0 0 0;
            &:hover{
                background-color: #0d771d;
            }
            a{
                text-decoration: none;
                font-size: 1.25em;
                color: c.$P-white;
            }
        }
    }
    img{
        width: 100%;
        opacity: 75%;
    }
}